<!-- Plantilla tasacion: reconstruida manualmente desde /template/plantilla.pdf. -->
<!-- Estado actual: paginas 1 a 23 en borrador, pendientes de revision del usuario. -->
<div class="editable-template" data-template-id="tasacion-base">
  {{PAGE_001}}
  {{PAGE_002}}
  {{PAGE_003}}
  {{PAGE_004}}
  {{PAGE_005}}
  {{PAGE_006}}
  {{PAGE_007}}
  {{PAGE_008}}
  {{PAGE_009}}
  {{PAGE_010}}
  {{PAGE_011}}
  {{PAGE_012}}
  {{PAGE_013}}
  {{PAGE_014}}
  {{PAGE_015}}
  {{PAGE_016}}
  {{PAGE_017}}
  {{PAGE_018}}
  {{PAGE_019}}
  {{PAGE_020}}
  {{PAGE_021}}
  {{PAGE_022}}
  {{PAGE_023}}
</div>
