<div class="pdf-page tasacion-index index-continuation" data-page-number="3">
  <div class="page-brand">tecnitasa</div>

  <table class="simple-index-table">
    <tbody>
      <tr><td>Visita (4)</td><td>25</td></tr>
      <tr><td>Visita (5)</td><td>25</td></tr>
      <tr><td>Visita (6)</td><td>25</td></tr>
      <tr><td>Visita (7)</td><td>26</td></tr>
      <tr><td>Visita (8)</td><td>26</td></tr>
      <tr><td>Visita (9)</td><td>26</td></tr>
      <tr><td>Visita (10)</td><td>26</td></tr>
      <tr><td>Visita (11)</td><td>26</td></tr>
      <tr><td>Visita (12)</td><td>26</td></tr>
      <tr><td>Visita (13)</td><td>27</td></tr>
      <tr><td>Visita (14)</td><td>27</td></tr>
      <tr><td>Visita (15)</td><td>27</td></tr>
      <tr><td>Visita (16)</td><td>27</td></tr>
      <tr><td>Visita</td><td>27</td></tr>
      <tr><td>Vistas</td><td>27</td></tr>
      <tr><td>Croquis-9047</td><td>28</td></tr>
      <tr><td>Nota simple-9047</td><td>29</td></tr>
      <tr><td>Urbanismo</td><td>36</td></tr>
      <tr><td>Resumen afecciones veltis basic</td><td>37</td></tr>
      <tr><td>Resumen afecciones veltis resumen</td><td>41</td></tr>
      <tr><td>Ordenanzas cj (malaga)</td><td>45</td></tr>
      <tr><td>Ordenanzas-co (malaga)</td><td>51</td></tr>
      <tr><td>Fotografia aerea</td><td>54</td></tr>
      <tr><td>Plano de provincia</td><td>55</td></tr>
      <tr><td>Plano de municipio</td><td>56</td></tr>
      <tr><td>Plano de entorno</td><td>57</td></tr>
      <tr><td>6655203uf7665n0006kk</td><td>60</td></tr>
    </tbody>
  </table>
</div>
